*{
	margin: 0;
	padding:0;
}
#all{
	position: fixed;
	width: 100%;
	margin: 0 auto;
}
form{
	position: absolute;
	left: 750px;
	top: 360px;
	width: 400px;
	height: 200px;
	background: white;
	opacity: 0.8;
	border-radius: 20px;
	text-align: center;
	padding-top: 30px;

}
input{
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	outline: none;
	box-shadow: inset 0 0 10px gray;
}
.btn{
	width: 60px;
	height: 30px;
	margin-top: 20px;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: gray;
	font-size: 12px;
	padding: 30px;
}
a:hover{
	color: black;
	font-size: 14px;
}